/*Basic configuration for all files.*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

/* FONT STYLES */
.italic {
    font-style: italic;
}

.light {
    font-weight: 100;
}

.bold {
    font-weight: bold;
}

.clickable {
    width: fit-content;
}

.clickable:hover {
    cursor: pointer;
    text-decoration: underline;
    filter: brightness(150%);
}
.underlined {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    width: 100%;
}

.primary-blue-color {
    color: #000f2d;
}

.purple {
    color: #6013bb;
}

.error-message {
    display: flex;
    margin-top: -10px;
    margin-bottom: -10px;
    color: red;
}
.error-message i {
    margin-right: 5px;
    margin-top: 2px;
    margin-left: 0px;
}

.btn-basic {
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
}

.shadow-container {
    -webkit-box-shadow: 4px 12px 9px -1px rgba(0, 0, 0, 0.15);
    box-shadow: 4px 12px 9px -1px rgba(0, 0, 0, 0.15);
}

.shadow-editor {
    -webkit-box-shadow: 2px 7px 5px -1px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 7px 5px -1px rgba(0, 0, 0, 0.15);
}

.inner-shadow {
    /*This inner box-shadow solves some issues with with areas in the image.*/
    -moz-box-shadow: inset 30px 30px 30px 40px #000000;
    -webkit-box-shadow: inset 30px 30px 30px 40px #000000;
    box-shadow: inset 30px 30px 30px 40px #000000;
}

/* Used on main info buttons */
.btn-purple-basic {
    width: fit-content;
    height: fit-content;
    border: none;
    /* Gradiente botón  */
    background: rgb(149, 7, 230);
    background: linear-gradient(
        153deg,
        rgba(149, 7, 230, 1) 0%,
        rgba(93, 7, 230, 1) 100%
    );
    /* Fin gradiente boton */
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.btn-gray-basic {
    width: fit-content;
    height: fit-content;
    border: none;
    /* Gradiente botón  */
    background: rgb(128, 128, 128);
    background: linear-gradient(
        160deg,
        rgba(128, 128, 128, 1) 33%,
        rgba(110, 85, 143, 1) 100%
    );
    /* Fin gradiente boton */
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.btn-add-basic {
    width: fit-content;
    height: fit-content;
    border: none;
    /* Gradiente botón  */
    background: rgb(58, 175, 57);
    background: linear-gradient(
        153deg,
        rgba(58, 175, 57, 1) 0%,
        rgba(57, 175, 166, 1) 100%
    );
    /* Fin gradiente boton */
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.btn-activate-account {
    width: fit-content;
    height: fit-content;
    border: none;
    /* Gradiente botón  */
    background: rgb(131, 58, 180);
    background: linear-gradient(
        132deg,
        rgba(131, 58, 180, 1) 36%,
        rgba(180, 58, 58, 1) 100%
    );
    /* Fin gradiente boton */
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.soft-btn {
    width: 110px;
    min-height: 40px;
    background: white;
    border: 2px solid #6013bb;
    border-radius: 10px;
    font-size: 14px;
    color: #6013bb;
}
.container-dashboard {
    width: 80%;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
}

button:hover {
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    /* border: 3px solid black; */
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* The Close Button */
.close {
    color: #000f2d;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #ffffff;
    color: #000f2d;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-left: 4px solid white;
    border-right: 4px solid white;
}

.modal-header h2 {
    padding-top: 15px;
}

.modal-body {
    padding: 20px 50px;
    overflow-y: hidden;
    background-color: #f2f1f2;
    height: fit-content;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.modal-body-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
}

.modal-footer {
    padding: 2px 16px;
    background-color: white;
    color: #000f2d;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 4px solid white;
    border-right: 4px solid white;
}

.modal-body .item-with-input input {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.modal-body .item-with-input p,
.modal-body .item-with-text-area p {
    color: #6013bb;
}

.modal-body div {
    margin-bottom: 10px;
}

.modal-body .flex-horizontal {
    display: flex;
    width: 100%;
    flex-direction: row;
}
.modal-body .flex-horizontal :first-child {
    margin-right: 10px;
}
.modal-body .flex-horizontal div {
    width: 50%;
}
.modal-body .flex-horizontal input {
    width: 100%;
    box-sizing: border-box;
}

.modal-body .item-with-text-area textarea {
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 14px;
    font-family: "Nunito", sans-serif;
}

.modal-buttons {
    display: grid;
    padding: 20px 0px;
    grid-template-areas: "alternative principal";
    align-items: center;
}
.principal-button {
    grid-area: principal;
    height: 100%;
    display: flex;
    justify-self: right;
    align-items: center;
}

.alternative-buttons {
    grid-area: alternative;
    display: flex;
    flex-direction: column;
    color: #000f2d;
}

.alternative-buttons a:hover {
    cursor: pointer;
    color: #6013bb;
}

.alternative-buttons a:hover:last-child {
    color: red;
}

.alternative-buttons a > i {
    margin-right: 10px;
}
.alternative-buttons :first-child {
    margin-bottom: 7px;
}

/*Edit plan modal*/
.edit-plan-modal {
    width: 900px;
}

/* End modal */

.month_paid {
    color: #00d89d;
}

.month_unpaid {
    color: #d80000;
}

.container-title {
    font-size: 24px;
}

.container-data {
    font-size: 18px;
}

/*MESSAGES*/
/*INFO MESSAGES */
.info-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    padding-left: 40px;
    background-color: #6013bb;
    color: white;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.info-message p:first-child {
    margin-bottom: -10px;
    font-size: 35px;
    font-weight: 500;
    margin-top: 20px;
    padding-right: 10px;
}

.info-message p:not(:first-child) {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
}

.info-account i {
    margin-right: 50px;
    font-size: 100px;
}

.trainer-info-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    font-size: 25px;
    padding: 10px;
    padding-left: 40px;
    background-color: #6013bb;
    color: white;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.trainer-info-message p:first-child {
    margin-bottom: -10px;
    font-size: 35px;
    font-weight: 500;
    margin-top: 20px;
    padding-right: 10px;
}

.trainer-info-message p:not(:first-child) {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 300;
}

.trainer-info-account i {
    margin-right: 50px;
    font-size: 100px;
}

/*My Wall Info Message*/
.explanation-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    padding: 20px 60px;
    padding-bottom: 30px;
    background-color: white;
    color: black;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.explanation-info > .info-message p {
    margin-bottom: 15px;
}
.explanation-info > .info-message p:first-child {
    color: #6013bb;
    margin-bottom: 20px;
}

/*WARNING MESSAGE*/
.warning-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    padding-left: 40px;
    background-color: #ffe600;
    color: black;
    height: 150px;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.warning-message p:first-child {
    margin-bottom: -10px;
    font-size: 35px;
    font-weight: 500;
    margin-top: 20px;
    padding-right: 10px;
}

.warning-message p:not(:first-child) {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 300;
}

.warning-account i {
    margin-right: 50px;
    font-size: 100px;
}

/*DataTable*/
table.data-table {
    text-align: center;
}

.data-table th {
    border-bottom: 1px solid black;
}

.data-table td {
    border-bottom: 1px solid black;
}

/*Text Container*/
.text-container {
    height: fit-content;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 5px 0px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.text-container-content {
    padding: 0px 70px;
}

.heading-text-container {
    border-left: 3px solid #6013bb;
    padding-left: 15px;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 25px;
}
.text-container ul {
    list-style: none;
    font-size: 18px;
    padding: 0;
}

.text-container li {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "section content";
    gap: 25px;
    margin-bottom: -10px;
}

.text-container-content-section {
    grid-area: section;
    display: flex;
    align-self: center;
    justify-self: left;
    margin-right: 10px;
    color: #6013bb;
    font-size: 20px;
}

.dot-separation {
    margin: 0 4px;
}

/* Notification containers (Used on Athlete's home, for example)*/

.box-container {
    height: 80px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 50px;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-areas: "image content buttons";
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.box-container > .box-image {
    grid-area: image;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* background-color: red; */
}
.box-container > .box-image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid black;
}

.box-container > .box-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    /* align-items: center; */
    /* background-color: blue; */
}
.box-container > .box-content p:first-child {
    margin: 0;
    margin-bottom: 1px;
    font-size: 18px;
    color: #6013bb;
}
.box-container > .box-content p:nth-child(2) {
    color: #000f2d;
    font-size: 40px;
    margin: 0;
}

.box-container > .box-container-buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* background-color: yellow; */
}

.general-dashboard-athlete {
    display: grid;
    max-height: fit-content;
    grid-template-areas:
        "plan log"
        "forum log"
        "forumGroup log"
        "payment log";

    grid-template-columns: 500px 1fr;
    /* background-color: red; */
    margin-top: 25px;
    column-gap: 50px;
}

.forum-notification {
    grid-area: forum;
}
.forumgroup-notification {
    grid-area: forumGroup;
}
.payment-notification {
    grid-area: payment;
}

.plan-notification {
    grid-area: plan;
}

.box-container-notification {
    width: 400px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    padding: 50px;
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-areas: "icon content";
    align-items: center;
    align-content: center;
    margin-top: 30px;
}
.box-container-notification > .box-icon {
    grid-area: icon;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: red; */
}
.box-icon-container {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.hover-scale:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: scale(1.02);
}

.box-icon-container i {
    color: white;
    font-size: 30px;
}

.box-container-notification > .box-content {
    /* background-color: blue; */
    height: 100%;
}

.box-container-notification > .box-content {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
}
.box-container-notification > .box-content p:first-child {
    margin: 0;
    margin-bottom: 1px;
    font-size: 18px;
    color: #6013bb;
}
.box-container-notification > .box-content p:nth-child(2) {
    color: #000f2d;
    font-size: 28px;
    margin: 0;
}

/*Colours linked to each notification box*/
.forum-notification .box-icon-container {
    background: rgb(149, 7, 230);
    background: linear-gradient(
        153deg,
        rgba(149, 7, 230, 1) 0%,
        rgba(93, 7, 230, 1) 100%
    );
}

.forumgroup-notification .box-icon-container {
    background: rgb(149, 7, 230);
    background: linear-gradient(
        153deg,
        rgb(7, 159, 230) 0%,
        rgb(22, 7, 230) 100%
    );
}
.payment-notification .box-icon-container {
    background: rgb(149, 7, 230);
    background: linear-gradient(
        153deg,
        rgb(245, 245, 0) 0%,
        rgb(255, 115, 0) 100%
    );
}
.plan-notification .box-icon-container {
    background: rgb(149, 7, 230);
    background: linear-gradient(
        153deg,
        rgb(0, 200, 84) 0%,
        rgb(105, 197, 0) 100%
    );
}

.box-container-log {
    grid-area: log;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.box-container-log h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.box-container-log ul {
    list-style: none;
    margin: 0;
    padding: 0 10px;
    padding-top: 10px;
}

.box-container-log .content {
    min-height: 380px;
    max-height: 550px;

    margin-bottom: 20px;
    overflow-y: auto;
}

.log-item {
    display: grid;
    grid-template-areas: "img details buttons";
    grid-template-columns: 100px 1fr 120px;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.box-container-log ul li:not(:first-child) {
    margin-top: 20px;
}

.box-container-log li:last-child > .log-item {
    border-bottom: none;
}

.log-item img {
    grid-area: img;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #000f2d;
}

.log-buttons {
    grid-area: buttons;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.log-details p {
    margin: 0;
}

.log-details p:first-child {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2px;
}

.log-details p:nth-child(2) {
    color: #6013bb;
    font-size: 14px;
}

.no-activity {
    font-size: 22px;
    padding: 5px 0px;
    color: #6113bbd7;
}

.notification_status {
    display: flex;
    align-items: center;
}
.notification_status i {
    font-size: 14px;
    margin-left: 6px;
}
