/*Basic configuration for all files.*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

/* FONT STYLES */
.italic {
    font-style: italic;
}

.light {
    font-weight: 100;
}

.bold {
    font-weight: bold;
}
.low-emphasis {
    color: rgba(0, 0, 0, 0.6) !important;
}

.clickable {
    width: fit-content;
}

.clickable:hover {
    cursor: pointer;
    text-decoration: underline;
    filter: brightness(150%);
}

.hover-container:hover {
    cursor: pointer;
}
.underlined {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    width: 100%;
}

.primary-blue-color {
    color: #000f2d;
}

.purple {
    color: #6013bb !important;
}

.red-message {
    color: #ff2a5d !important;
}

.error-message {
    display: flex;
    margin-top: -10px;
    margin-bottom: -10px;
    color: red;
}
.error-message i {
    margin-right: 5px;
    margin-top: 2px;
    margin-left: 0px;
}

.btn-basic {
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
}

.shadow-container {
    -webkit-box-shadow: 4px 12px 9px -1px rgba(0, 0, 0, 0.15);
    box-shadow: 4px 12px 9px -1px rgba(0, 0, 0, 0.15);
}

.shadow-editor {
    -webkit-box-shadow: 2px 7px 5px -1px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 7px 5px -1px rgba(0, 0, 0, 0.15);
}

.inner-shadow {
    /*This inner box-shadow solves some issues with with areas in the image.*/
    -moz-box-shadow: inset 30px 30px 30px 40px #000000;
    -webkit-box-shadow: inset 30px 30px 30px 40px #000000;
    box-shadow: inset 30px 30px 30px 40px #000000;
}

/* Used on main info buttons */
.btn-purple-basic {
    width: fit-content;
    height: fit-content;
    border: none;
    /* Gradiente botón  */
    background: rgb(149, 7, 230);
    background: linear-gradient(
        153deg,
        rgba(149, 7, 230, 1) 0%,
        rgba(93, 7, 230, 1) 100%
    );
    /* Fin gradiente boton */
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.btn-gray-basic {
    width: fit-content;
    height: fit-content;
    border: none;
    /* Gradiente botón  */
    background: rgb(128, 128, 128);
    background: linear-gradient(
        160deg,
        rgba(128, 128, 128, 1) 33%,
        rgba(110, 85, 143, 1) 100%
    );
    /* Fin gradiente boton */
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.btn-add-basic {
    width: fit-content;
    height: fit-content;
    border: none;
    /* Gradiente botón  */
    background: rgb(58, 175, 57);
    background: linear-gradient(
        153deg,
        rgba(58, 175, 57, 1) 0%,
        rgba(57, 175, 166, 1) 100%
    );
    /* Fin gradiente boton */
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.btn-activate-account {
    width: fit-content;
    height: fit-content;
    border: none;
    /* Gradiente botón  */
    background: rgb(131, 58, 180);
    background: linear-gradient(
        132deg,
        rgba(131, 58, 180, 1) 36%,
        rgba(180, 58, 58, 1) 100%
    );
    /* Fin gradiente boton */
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.soft-btn {
    width: 110px;
    min-height: 40px;
    background: white;
    border: 2px solid #6013bb;
    border-radius: 10px;
    font-size: 14px;
    color: #6013bb;
}

.soft-btn.col-red {
    border: 2px solid #ff2a5d;
    color: #ff2a5d;
}

.container-dashboard {
    width: 80%;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
}

button:hover {
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    /* border: 3px solid black; */
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* The Close Button */
.close {
    color: #000f2d;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #6013bb;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #ffffff;
    color: #000f2d;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 1px solid #f2f1f2;
}

.modal-header h2 {
    padding-top: 15px;
}

.modal-body {
    padding: 20px 50px;
    overflow-y: hidden;
    background-color: #ffffff;
    height: fit-content;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.modal-body-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
}

.modal-footer {
    padding: 2px 16px;
    background-color: white;
    color: #000f2d;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 4px solid white;
    border-right: 4px solid white;
}

.modal-body .item-with-input input {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.modal-body .item-with-input p,
.modal-body .item-with-text-area p,
.modal-body .item-with-progressbar p,
.modal-body .item-with-select p,
.modal-body .item-with-container p {
    color: #6013bb;
    font-size: 16px;
}

.modal-body .item-with-button-add-file {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: red; */
}

.modal-body .item-with-button-add-file > .soft-btn {
    width: 150px;
    color: #6013bb;
    margin-right: 10px;
}
.modal-body .item-with-button-add-file p {
    margin-right: 10px;
}
.modal-body .item-with-button-add-file i {
    font-size: 16px;
    color: rgba(128, 128, 128, 0.3);
}
.modal-body .item-with-button-add-file > i.input-active {
    color: #00d89d;
}

.modal-body .item-with-progressbar {
    margin-top: 10px;
}
.modal-body .item-with-progressbar progress[value] {
    width: 100%;
    height: 20px;
}

div.modal-body {
    margin-bottom: 10px;
}

.modal-body .flex-horizontal {
    display: flex;
    width: 100%;
    flex-direction: row;
}
.modal-body .flex-horizontal :first-child {
    margin-right: 10px;
}
.modal-body .flex-horizontal div {
    width: 50%;
}
.modal-body .flex-horizontal input {
    width: 100%;
    box-sizing: border-box;
}

.modal-body .item-with-text-area textarea {
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    resize: none;
}

.modal-body .item-with-select select {
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    padding: 5px;
}

.modal-body .item-with-select p:nth-child(2) {
    text-align: justify;
    color: #000f2d;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.modal-body .item-with-container > div {
    padding: 10px;
    background-color: #f2f1f2;
    border-radius: 10px;
    max-height: 200px;
    min-height: fit-content;
}

.modal-body .item-with-container div > ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
    list-style: none;
    max-height: 180px;
    min-height: fit-content;
    margin: 0;
    overflow-y: auto;
}
.modal-body .item-with-container li:not(:last-of-type) {
    margin-bottom: 30px;
}

.flexbox-vertical-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexbox-vertical-container label {
    display: flex;
    width: 120px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.user-and-avatar {
    display: flex;
    width: 100%;
    padding-left: 20px !important;
    align-items: center;
    flex-direction: row;
}

.user-and-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #000f2d;
    margin-right: 20px;
}

.user-and-avatar p {
    color: black !important;
}

.modal-body .file-table-container {
    margin-top: 10px;
    margin-bottom: 20px;
}

.modal-body .file-table-container table {
    text-align: center;
}
.modal-body table.dataTable {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.modal-buttons {
    display: grid;
    padding: 20px 0px;
    grid-template-areas: "alternative principal";
    align-items: center;
}
.principal-button {
    grid-area: principal;
    height: 100%;
    display: flex;
    justify-self: right;
    align-items: center;
}

.alternative-buttons {
    grid-area: alternative;
    display: flex;
    flex-direction: column;
    color: #000f2d;
}

.alternative-buttons a:hover {
    cursor: pointer;
    color: #6013bb;
}

.alternative-buttons a:hover:last-child {
    color: red;
}

.alternative-buttons a > i {
    margin-right: 10px;
}
.alternative-buttons :first-child {
    margin-bottom: 7px;
}

/*Create plan modal*/
.create-plan-modal {
    width: 900px;
}

/*Edit plan modal*/
.edit-plan-modal {
    width: 900px;
    padding-bottom: 5px;
}
/*Associated plan files modal*/
.plan-files {
    width: 1000px;
    height: fit-content;
}

.plan-files p {
    margin-bottom: 20px;
}

/*Add new tutorship modal*/
.new-tutorship-modal {
    width: 600px;
    padding-bottom: 5px;
}

/*Set payment fee modal*/
.set-payment-modal {
    width: 500px;
    padding-bottom: 5px;
}

/*Add thread modal*/
.add-thread-modal {
    width: 700px;
    height: fit-content;
}
/*New group modal*/
.new-group-modal {
    width: 700px;
    height: fit-content;
}

/*Add member to group*/
.add-member-to-group-modal {
    width: 900px;
    height: fit-content;
}

.add-member-to-group-modal .item-with-container:not(:last-of-type) {
    margin-bottom: 20px;
}

.add-member-to-group-modal .modal-buttons {
    display: flex;
    justify-content: center;
}
.add-member-to-group-modal .soft-btn:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.no-members-left-to-add p {
    text-align: center;
    color: black !important;
}

.plan-files .modal-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Athlete's Additional Info modal */
.additional-info-modal {
    width: 750px;
}
.additional-info-modal .modal-body {
    padding: 0;
}

.additional-info-modal .text-container {
    padding: 0;
    margin-bottom: 10px;
    width: 750px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}

.additional-info-modal .text-container-content-section {
    font-size: 18px;
    width: 100%;
}
.additional-info-modal li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.additional-info-modal .text-container li {
    margin: 0;
}

.additional-info-modal .text-container-content p {
    font-size: 16px;
}

/*End Athlete's Additional Info modal */

.add-thread-modal .modal-buttons,
.new-tutorship-modal .modal-buttons,
.set-payment-modal .modal-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -10px;
}

/*Upload files modal*/
.upload-file-modal {
    width: 700px;
    height: 400px;
}

.create-plan-modal .modal-buttons,
.upload-file-modal .modal-buttons,
.share-file-modal .modal-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.upload-file-modal .btn-add-basic:disabled,
.share-file-modal .btn-add-basic:disabled,
.plan-files .btn-add-basic:disabled,
.add-member-to-group-modal .btn-add-basic:disabled,
.edit-group-modal .btn-add-basic:disabled {
    background: rgba(128, 128, 128, 0.3);
}
.upload-file-modal .btn-add-basic:disabled:hover,
.share-file-modal .btn-add-basic:disabled:hover,
.plan-files .btn-add-basic:disabled:hover,
.add-member-to-group-modal .btn-add-basic:disabled:hover,
.edit-group-modal .btn-add-basic:disabled:hover {
    background: rgba(128, 128, 128, 0.3);
    filter: none;
    cursor: auto;
}

/*Update files section*/
.item-with-error {
    padding-left: 15px;
    border-left: 3px solid red;
}
.item-with-error p:first-of-type {
    color: red;
    font-weight: bold;
    margin-bottom: -8px;
}
.item-with-error span {
    font-weight: bold;
}
.item-with-error i {
    margin-right: 2px;
}

.update-file-section > :first-child > span {
    color: #6013bb;
}

.update-plan-file-buttons .btn-gray-basic {
    width: 100px;
    margin-right: 15px;
}

.training-plan-no-files-message {
    text-align: center;
    font-size: 18px;
}

/*Upload files modal*/
.share-file-modal {
    width: 700px;
    height: 200px;
}

/*Edit Group Modal*/
.grid-edit-group-container {
    display: grid;
    height: fit-content;
    grid-template-areas: "image-container form";
    grid-template-columns: 1fr 1fr;
    /* background-color: red; */
}

.edit-group-image {
    grid-area: image-container;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 25px;
}
.edit-group-image img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10%;
    border: 3px solid #000f2d;
}

.edit-group-image button {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0;
}

.edit-group-image label:hover {
    color: #6013bb;
    cursor: pointer;
}

.edit-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-form textarea {
    height: 100px !important;
}

.edit-group-modal {
    width: 800px;
    height: fit-content;
}
.edit-group-modal .modal-body-container {
    width: 100%;
}

.edit-group-modal .modal-buttons {
    justify-content: center;
    margin-top: -25px;
}

.edit-group-modal .modal-footer,
.additional-info-modal .modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000f2d;
    border: 2px solid #000f2d;
}
.edit-group-modal .modal-footer h3,
.additional-info-modal .modal-footer h3 {
    border-right: 2px solid white;
    color: white;
    padding-right: 10px;
}

.edit-group-modal .modal-body {
    margin: 0;
}

.edit-group-modal .modal-footer button,
.additional-info-modal .modal-footer button {
    width: 120px;
    height: 30px;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 10px;
}

/*End Edit Group Modal*/

/* End modal */

/*BASIC TABLE*/
.basic-table {
    text-align: center;
}
.basic-table table {
    width: 100%;
    border-collapse: collapse;
}
.basic-table thead,
.basic-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* even columns width , fix width of table too*/
    word-wrap: break-word;
}

.basic-table thead {
    width: calc(
        100% - 1em
    ); /* scrollbar is average 1em/16px width, remove it from thead width */
}
.basic-table th {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.basic-table tr:not(:last-child) {
    border-bottom: 1px solid black;
}

.basic-table tbody {
    display: block;
    max-height: 300px;
    overflow-y: auto;
}

.basic-table .table-buttons {
    display: flex;
    width: 100px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.basic-table .table-buttons button:not(:last-child) {
    margin-bottom: 5px;
}

/*END BASIC TABLE*/

.month_paid {
    color: #00d89d;
}

.month_unpaid {
    color: #d80000;
}

.container-title {
    font-size: 24px;
}

.container-data {
    font-size: 18px;
}

/*MESSAGES*/
/*INFO MESSAGES */
.info-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    padding-left: 40px;
    background-color: #6013bb;
    color: white;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.info-message p:first-child {
    margin-bottom: -10px;
    font-size: 35px;
    font-weight: 500;
    margin-top: 20px;
    padding-right: 10px;
}

.info-message p:not(:first-child) {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
}

.info-account i {
    margin-right: 50px;
    font-size: 100px;
}
.info-account.no-athletes-to-train i {
    margin-right: 40px;
    margin-left: 40px;
    font-size: 80px;
}

.info-account.info-account.no-athletes-to-train {
    margin: 0;
    margin-top: 5px;
}

.trainer-info-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    font-size: 25px;
    padding: 10px;
    padding-left: 40px;
    background-color: #6013bb;
    color: white;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.trainer-info-message p:first-child {
    margin-bottom: -10px;
    font-size: 35px;
    font-weight: 500;
    margin-top: 20px;
    padding-right: 10px;
}

.trainer-info-message p:not(:first-child) {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 300;
}

.trainer-info-account i {
    margin-right: 50px;
    font-size: 100px;
}

/*My Wall Info Message*/
.explanation-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    padding: 20px 60px;
    padding-bottom: 30px;
    background-color: white;
    color: black;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.explanation-info > .info-message p {
    margin-bottom: 15px;
}
.explanation-info > .info-message p:first-child {
    color: #6013bb;
    margin-bottom: 20px;
}

/*WARNING MESSAGE*/
.warning-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    padding-left: 40px;
    background-color: #ffe600;
    color: black;
    height: 150px;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.warning-message p:first-child {
    margin-bottom: -10px;
    font-size: 35px;
    font-weight: 500;
    margin-top: 20px;
    padding-right: 10px;
}

.warning-message p:not(:first-child) {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 300;
}

.warning-account i {
    margin-right: 50px;
    font-size: 100px;
}

/*DataTable*/
table.data-table {
    text-align: center;
}

.data-table th {
    border-bottom: 1px solid black;
}

.data-table td {
    border-bottom: 1px solid black;
}

/*Text Container*/
.text-container {
    height: fit-content;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 5px 0px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.text-container-content {
    padding: 0px 70px;
}

.heading-text-container {
    border-left: 3px solid #6013bb;
    padding-left: 15px;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 25px;
}
.text-container ul {
    list-style: none;
    font-size: 18px;
    padding: 0;
}

.text-container li {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "section content";
    gap: 25px;
    margin-bottom: -10px;
}

.text-container-content-section {
    grid-area: section;
    display: flex;
    align-self: center;
    justify-self: left;
    margin-right: 10px;
    color: #6013bb;
    font-size: 20px;
}

.dot-separation {
    margin: 0 4px;
}

/* Notification containers (Used on Athlete's home, for example)*/

.box-container {
    height: 80px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 50px;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-areas: "image content buttons";
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.box-container > .box-image {
    grid-area: image;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* background-color: red; */
}
.box-container > .box-image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid black;
}

.box-container > .box-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    /* align-items: center; */
    /* background-color: blue; */
}
.box-container > .box-content p:first-child {
    margin: 0;
    margin-bottom: 1px;
    font-size: 18px;
    color: #6013bb;
}
.box-container > .box-content p:nth-child(2) {
    color: #000f2d;
    font-size: 40px;
    margin: 0;
}

.box-container > .box-container-buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* background-color: yellow; */
}

.general-dashboard-athlete {
    display: grid;
    max-height: fit-content;
    grid-template-areas:
        "plan log"
        "forum log"
        "forumGroup log"
        "payment log";

    grid-template-columns: 500px 1fr;
    /* background-color: red; */
    margin-top: 25px;
    column-gap: 50px;
}

.forum-notification {
    grid-area: forum;
}
.forumgroup-notification {
    grid-area: forumGroup;
}
.payment-notification {
    grid-area: payment;
}

.plan-notification {
    grid-area: plan;
}

.box-container-notification {
    width: 400px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    padding: 50px;
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-areas: "icon content";
    align-items: center;
    align-content: center;
    margin-top: 30px;
}
.box-container-notification > .box-icon {
    grid-area: icon;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: red; */
}
.box-icon-container {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.hover-scale:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: scale(1.02);
}

.box-icon-container i {
    color: white;
    font-size: 30px;
}

.box-container-notification > .box-content {
    /* background-color: blue; */
    height: 100%;
}

.box-container-notification > .box-content {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
}
.box-container-notification > .box-content p:first-child {
    margin: 0;
    margin-bottom: 2px;
    font-size: 18px;
    color: #6013bb;
}
.box-container-notification > .box-content p:nth-child(2) {
    color: #000f2d;
    font-size: 28px;
    margin: 0;
}

/*Colours linked to each notification box*/
.forum-notification .box-icon-container {
    background: rgb(149, 7, 230);
    background: linear-gradient(
        153deg,
        rgba(149, 7, 230, 1) 0%,
        rgba(93, 7, 230, 1) 100%
    );
}

.forumgroup-notification .box-icon-container {
    background: rgb(149, 7, 230);
    background: linear-gradient(
        153deg,
        rgb(7, 159, 230) 0%,
        rgb(22, 7, 230) 100%
    );
}
.payment-notification .box-icon-container {
    background: rgb(149, 7, 230);
    background: linear-gradient(
        153deg,
        rgb(245, 245, 0) 0%,
        rgb(255, 115, 0) 100%
    );
}
.plan-notification .box-icon-container {
    background: rgb(149, 7, 230);
    background: linear-gradient(
        153deg,
        rgb(0, 200, 84) 0%,
        rgb(105, 197, 0) 100%
    );
}

.box-container-log {
    grid-area: log;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.box-container-log h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.box-container-log ul {
    list-style: none;
    margin: 0;
    padding: 0 10px;
    padding-top: 10px;
}

.box-container-log .content {
    min-height: 380px;
    max-height: 550px;

    margin-bottom: 20px;
    overflow-y: auto;
}

.log-item {
    display: grid;
    grid-template-areas: "img details buttons";
    grid-template-columns: 100px 1fr 120px;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.box-container-log ul li:not(:first-child) {
    margin-top: 20px;
}

.box-container-log li:last-child > .log-item {
    border-bottom: none;
}

.log-item img {
    grid-area: img;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #000f2d;
}

.log-buttons {
    grid-area: buttons;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.log-details p {
    margin: 0;
}

.log-details p:first-child {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2px;
}

.log-details p:nth-child(2) {
    color: #6013bb;
    font-size: 14px;
}

.no-activity {
    font-size: 22px;
    padding: 5px 0px;
    color: #6113bbd7;
}

.notification_status {
    display: flex;
    align-items: center;
}
.notification_status i {
    font-size: 14px;
    margin-left: 6px;
}

/*Edit Profile's Personal Information */
.edit-profile-subsection {
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.8) !important;
}

.edit-profile-subsection i {
    color: #000f2d;
    margin-right: 5px;
}
/*End Edit Profile's Personal Information */
