/*Basic configuration for all files.*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

/* FONT STYLES */
.italic {
    font-style: italic;
}

.light {
    font-weight: 100;
}

.bold {
    font-weight: bold;
}

.clickable {
    width: fit-content;
}

.clickable:hover {
    cursor: pointer;
    text-decoration: underline;
    filter: brightness(150%);
}
.underlined {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    width: 100%;
}

.primary-blue-color {
    color: #000f2d;
}

.purple {
    color: #6013bb;
}

.error-message {
    display: flex;
    margin-top: -10px;
    margin-bottom: -10px;
    color: red;
}
.error-message i {
    margin-right: 5px;
    margin-top: 2px;
    margin-left: 0px;
}

.btn-basic {
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
}

.shadow-container {
    -webkit-box-shadow: 4px 12px 9px -1px rgba(0, 0, 0, 0.15);
    box-shadow: 4px 12px 9px -1px rgba(0, 0, 0, 0.15);
}

.shadow-editor {
    -webkit-box-shadow: 2px 7px 5px -1px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 7px 5px -1px rgba(0, 0, 0, 0.15);
}

.inner-shadow {
    /*This inner box-shadow solves some issues with with areas in the image.*/
    -moz-box-shadow: inset 30px 30px 30px 40px #000000;
    -webkit-box-shadow: inset 30px 30px 30px 40px #000000;
    box-shadow: inset 30px 30px 30px 40px #000000;
}

/* Used on main info buttons */
.btn-purple-basic {
    width: fit-content;
    height: fit-content;
    border: none;
    /* Gradiente botón  */
    background: rgb(149, 7, 230);
    background: linear-gradient(
        153deg,
        rgba(149, 7, 230, 1) 0%,
        rgba(93, 7, 230, 1) 100%
    );
    /* Fin gradiente boton */
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.btn-gray-basic {
    width: fit-content;
    height: fit-content;
    border: none;
    /* Gradiente botón  */
    background: rgb(128, 128, 128);
    background: linear-gradient(
        160deg,
        rgba(128, 128, 128, 1) 33%,
        rgba(110, 85, 143, 1) 100%
    );
    /* Fin gradiente boton */
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.btn-add-basic {
    width: fit-content;
    height: fit-content;
    border: none;
    /* Gradiente botón  */
    background: rgb(58, 175, 57);
    background: linear-gradient(
        153deg,
        rgba(58, 175, 57, 1) 0%,
        rgba(57, 175, 166, 1) 100%
    );
    /* Fin gradiente boton */
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.btn-activate-account {
    width: fit-content;
    height: fit-content;
    border: none;
    /* Gradiente botón  */
    background: rgb(131, 58, 180);
    background: linear-gradient(
        132deg,
        rgba(131, 58, 180, 1) 36%,
        rgba(180, 58, 58, 1) 100%
    );
    /* Fin gradiente boton */
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.soft-btn {
    width: 110px;
    min-height: 40px;
    background: white;
    border: 2px solid #6013bb;
    border-radius: 10px;
    font-size: 14px;
    color: #6013bb;
}
.container-dashboard {
    width: 80%;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
}

button:hover {
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    /* display: none;
    hiddenby default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    /* border: 3px solid white; */
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* The Close Button */
.close {
    color: rgb(255, 255, 255, 0.7);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #000f2d;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-left: 4px solid #000f2d;
    border-right: 4px solid #000f2d;
}

.modal-body {
    padding: 20px 50px;
    overflow-y: auto;

    height: 500px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #000f2d;
    color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 4px solid #000f2d;
    border-right: 4px solid #000f2d;
}

/* End modal */

.month_paid {
    color: #00d89d;
}

.month_unpaid {
    color: #d80000;
}

.container-title {
    font-size: 24px;
}

.container-data {
    font-size: 18px;
}

/*MESSAGES*/
/*INFO MESSAGES */
.info-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    padding-left: 40px;
    background-color: #6013bb;
    color: white;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.info-message p:first-child {
    margin-bottom: -10px;
    font-size: 35px;
    font-weight: 500;
    margin-top: 20px;
    padding-right: 10px;
}

.info-message p:not(:first-child) {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 300;
}

.info-account i {
    margin-right: 50px;
    font-size: 100px;
}

.trainer-info-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    font-size: 25px;
    padding: 10px;
    padding-left: 40px;
    background-color: #6013bb;
    color: white;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.trainer-info-message p:first-child {
    margin-bottom: -10px;
    font-size: 35px;
    font-weight: 500;
    margin-top: 20px;
    padding-right: 10px;
}

.trainer-info-message p:not(:first-child) {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 300;
}

.trainer-info-account i {
    margin-right: 50px;
    font-size: 100px;
}

/*WARNING MESSAGE*/
.warning-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    padding-left: 40px;
    background-color: #ffe600;
    color: black;
    height: 150px;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.warning-message p:first-child {
    margin-bottom: -10px;
    font-size: 35px;
    font-weight: 500;
    margin-top: 20px;
    padding-right: 10px;
}

.warning-message p:not(:first-child) {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 300;
}

.warning-account i {
    margin-right: 50px;
    font-size: 100px;
}

/*DataTable*/
table.data-table {
    text-align: center;
}

.data-table th {
    border-bottom: 1px solid black;
}

.data-table td {
    border-bottom: 1px solid black;
}
