/*Mobile media*/
@media (max-width: 900px) {
    body {
        display: grid;
        grid-template-areas:
            "userbar"
            "page-content"
            "navbar";
    }

    .page-content {
        grid-area: page-content;
        display: none; /* !TODO ver por qué hay overflow*/
    }
    .navbar {
        grid-area: navbar;
        display: none;
    }

    .userbar {
        display: grid;
        width: 100%;
        height: 100px;
        grid-area: userbar;
        grid-template-columns: 25% 1fr 25%;
        grid-template-rows: 20px 1fr;
        grid-template-areas:
            "levels levels levels"
            "collapsed-navbar searchbar userbuttons";
        align-content: center;
        justify-content: center;
        gap: 5px;
    }

    .levels-name {
        grid-area: levels;
        background-color: #000f2d;
        display: flex;
        padding: 12px 0;
        justify-content: center;
        align-items: center;
    }
    .levels-name > .app-name-navbar {
        font-size: 14px;
        font-weight: 400;
        color: white;
    }
    .search-container {
        grid-area: searchbar;
        display: flex;
        align-items: center;
    }

    .userbuttons {
        grid-area: userbuttons;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .collapse-menu {
        grid-area: collapsed-navbar;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .collapse-menu i {
        font-size: 20px;
    }
}

/*Desktop media*/
@media (min-width: 900px) {
    /*General layout*/
    body {
        display: grid;
        grid-template-columns: 240px 1fr;
        grid-template-rows: 150px 1fr;
        grid-template-areas:
            "navbar userbar"
            "navbar page-content";
    }

    .page-content {
        grid-area: page-content;
        overflow-y: overlay;
    }

    .navbar {
        align-content: center;
        grid-area: navbar;
    }

    .userbar {
        display: grid;
        grid-area: userbar;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr;
        grid-template-areas: "searchbar userbuttons";
        align-content: center;
        justify-items: center;
        justify-content: center;
    }

    .search-container {
        grid-area: searchbar;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .userbuttons {
        grid-area: userbuttons;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .collapse-menu {
        display: none;
    }

    .levels-name {
        display: none;
    }
}
