.content-group-dashboard {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 280px 60px 1fr;
    grid-template-areas:
        "groupinfo"
        "navbar-dashboard"
        "content-dashboard";
    row-gap: 15px;
}

.groupinfo {
    grid-area: groupinfo;
    display: flex;
    padding-top: 40px;
}

.groupinfo img {
    width: 180px;
    height: 180px;
    margin-top: 0px;
    border-radius: 10%;
    border: 4px solid #000f2d;
}

.group-header {
    display: flex;
    flex-direction: column;
    align-self: center;
}

#group-type {
    font-size: 24px;
    margin-bottom: -34px;
}

#group-title {
    font-size: 50px;
    margin-bottom: -15px;
}
#group-description {
    font-size: 18px;
}

/*MEMBERS*/

.members_table_image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #000f2d;
}

/*EDIT MODE - ICON OVER IMAGE*/
.img-group-container {
    position: relative;
    width: 180px;
    height: 180px;
    margin-right: 50px;
}

.img-group-container img {
    display: block;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.img-group-container a {
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
}

.img-group-container:hover img {
    -webkit-filter: brightness(30%);
    filter: brightness(30%);
}
.img-group-container:hover a {
    opacity: 1;
}
.img-group-container:hover {
    cursor: pointer;
}
