.content-group-dashboard {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 280px 60px 1fr;
    grid-template-areas:
        "groupinfo"
        "navbar-dashboard"
        "content-dashboard";
    row-gap: 15px;
}

.groupinfo {
    grid-area: groupinfo;
    display: flex;
    padding-top: 40px;
}

.groupinfo img {
    width: 180px;
    height: 180px;
    margin-top: 0px;
    border-radius: 10%;
    border: 4px solid #000f2d;
}

.group-header {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.group-header {
    cursor: pointer;
}

#group-type {
    font-size: 24px;
    margin-bottom: -34px;
}

#group-title {
    font-size: 50px;
    margin-bottom: -15px;
}
#group-description {
    font-size: 18px;
}

/*MEMBERS*/

.user_member_table_container {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}
.user_member_table {
    display: inline-flex;
    padding-left: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
.user_member_table img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 30px;
    border: 2px solid #000f2d;
}

.user_member_table a {
    display: flex;
    color: black;
}

/*EDIT MODE - ICON OVER IMAGE*/
.img-group-container {
    position: relative;
    width: 180px;
    height: 180px;
    margin-right: 50px;
}
.img-group-container-no-editable {
    position: relative;
    width: 180px;
    height: 180px;
    margin-right: 50px;
}

.img-group-container img {
    display: block;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.img-group-container a {
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
}

.img-group-container:hover img {
    -webkit-filter: brightness(30%);
    filter: brightness(30%);
}
.img-group-container:hover a {
    opacity: 1;
}
.img-group-container:hover {
    cursor: pointer;
}

/*Members table*/

.members table {
    text-align: center;
}

.members .table-user {
    display: flex;
    width: 300px;
    word-wrap: break-word;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.members .table-user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #000f2d;
    margin-right: 25px;
}

#remove-group {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 10px;
}

#remove-group form {
    margin-top: -40px;
}
