.content-profile-dashboard {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 60px 1fr;
    grid-template-areas:
        "userinfo"
        "navbar-dashboard"
        "content-dashboard";
    row-gap: 15px;
}

.userinfo {
    grid-area: userinfo;
    display: flex;
}

.userinfo img {
    width: 220px;
    height: 220px;
    margin-top: 40px;
    margin-right: 3%;
    border-radius: 50%;
    border: 4px solid #000f2d;
}

.text-info-dashboard {
    display: flex;
    height: 230px;
    margin-top: 60px;
    width: 100%;
    flex-direction: column;
}

#user_name_dashboard {
    margin-top: 0px;
    font-size: 48px;
    font-weight: 600;
}

#user_type {
    font-size: 26px;
    font-weight: 300;
    position: relative;
    top: -45px;
}

.btn-purple-basic {
    width: 210px;
    height: 40px;
    position: relative;
    top: -10px;
}

.btn-add-basic {
    width: fit-content;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-top: 0px;
}

.btn-add-basic i {
    margin-right: 10px;
}

.train-button {
    float: right;
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    transform: translateY(-440%);
    height: 40px;
    background-color: #000f2d;
    color: white;
}
.train-button i {
    margin-right: 5px;
}

.stop-training-button {
    float: right;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    transform: translateY(-440%);
    background-color: #000f2d;
    color: white;
    height: 40px;
}
.stop-training-button i {
    margin-right: 5px;
}

/* NAVBAR DASHBOARD */
.navbar-dashboard {
    margin-bottom: 0px;
}
.navbar-dashboard-menu ul {
    list-style-type: none;
    align-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.55);
}

.navbar-dashboard-menu li {
    float: left;
    text-align: center;
    margin-bottom: 15px;
    margin-right: 10px;
}

.navbar-dashboard-menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navbar-dashboard-menu li a:hover {
    color: rgb(149, 7, 230);
}

li.active-dashboard a {
    background: #000f2d;
    border-radius: 5px;
    height: 10px;
    color: white;
}

li.active-dashboard a:hover {
    color: white;
}

.navbar-dashboard-menu a {
    height: 100%;
    line-height: 50%;
}

.content-dashboard {
    display: flex;
    margin-top: -10px;
    padding-bottom: 100px;
}

.heading-section {
    margin-top: 30px;
    margin-bottom: 50px;
}
.button-position {
    float: right;
}

/* Training plan */
.trainingPlan-container {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: auto;
    grid-template-areas: "status description options";
    margin-top: 30px;
    margin-bottom: 50px;
}

.trainingPlan-status {
    grid-area: status;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-left: 40px;
    padding-bottom: 10px;
    height: auto;
    color: #6013bb;
    font-size: 18px;
    align-items: center;
}

.title-plan {
    font-size: 24px;
    word-wrap: break-word;
}

.duration-plan {
    margin-top: -20px;
}

.status-plan i {
    margin-right: 10px;
}

.status-plan-active {
    color: #00d89d;
    font-weight: bold;
    margin-left: 5px;
}

.separation-plan {
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: -30px;
    margin-right: 20px;
    height: 140px;
    border-left: 3px solid rgba(96, 19, 187, 0.75);
}

.info-trainingPlan-status {
    display: flex;
    flex-direction: column;
}

.trainingPlan-description {
    grid-area: description;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    height: auto;
    color: #6013bb;
    font-size: 18px;
    align-items: left;
    word-wrap: break-word;
}

.title-description {
    font-size: 24px;
    margin-bottom: -10px;
}

.trainingPlan-options {
    grid-area: options;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 10px;
    height: auto;
    color: #6013bb;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

.btn-gray-basic,
.btn-activate-account {
    width: 210px;
    height: 40px;
}

button:hover {
    filter: brightness(1.2);
}

/*Payment tab*/
.fee-training-details {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 40% 25%;
    grid-template-rows: auto;
    grid-template-areas: "status details buttons";
    margin-top: 30px;
    margin-bottom: 50px;
}

.fee-training-details-status {
    grid-area: status;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 10px;
    margin-right: 0px;
    padding-top: 10px;
    padding-left: 50px;
    height: auto;
    color: #6013bb;
    font-size: 24px;
    align-items: left;
    justify-self: left;
    /* background-color: burlywood; */
}

.fee-training-details-status > .container-title {
    margin-top: 5px;
}

.fee-training-details-status > .container-data {
    margin-top: -25px;
    margin-bottom: 20px;
}
#fee-payment-info {
    margin-top: -20px;
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 30px;
}

.fee-training-details-details {
    grid-area: details;
    display: flex;
    color: #6013bb;
}

.fee-training-details-details p {
    margin-left: 10px;
}

.suscription-type {
    padding-top: 25px;
    font-size: 24px;
}

.next-fee {
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 24px;
}
#next-fee-date,
#fee-details {
    margin-top: -25px;
    font-size: 18px;
}

#fee-monthly-price {
    font-weight: 100;
    font-size: 18px;
}

.fee-training-details-details > .separation-plan {
    height: 140px;
    margin-bottom: 10px;
}

.fee-training-details-buttons {
    grid-area: buttons;
    padding-right: 10px;
    justify-self: center;
    justify-content: flex-start;
    align-self: center;
}

.fee-training-details-buttons > form > .btn-purple-basic {
    padding: 10px;
    width: fit-content;
    height: fit-content;
    top: 0px;
}

.fee-training-details-buttons i {
    margin-right: 5px;
    font-size: 15px;
}

/*Invoice History*/
.fee-training-history {
    margin-top: 60px;
}

table.fee-table {
    table-layout: fixed;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 100px;
}

.fee-table th {
    border-bottom: 1px solid black;
}

.fee-table th,
td {
    padding: 10px;
    padding-left: 0;
    margin-left: 200px;
    width: fit-content;
}

.fee-table td {
    border-bottom: 1px solid black;
}

.second_title {
    font-size: 24px;
}

.account_deactivated {
    opacity: 0.9;
    filter: grayscale(100%);
}

/*PAGINATION*/
nav.pagination-nav {
    display: flex;
    flex-direction: row;
}

.pagination {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.pagination li {
    color: black;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
}
